* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    text-align: center;
    flex-grow: 1;
}

footer {
    background-color: black;
    padding: 0.5rem;

}

h3 {
    color: white;
    font-size: 15px;
    text-align: center;
}